<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Dojo Survey</title>
</head>
<body>
    <div class="container">
        <h1>Submission Form</h1>
        <form action="/results" method="post">
        <div class="name_box">
            <label for="name">Your Name:</label>
            <input type="text" name="name">
        </div>
        <div class="location_box">
            <label for="location">Dojo Location:</label>
            <select name="location">
                <option value="San Jose" selected>San Jose</option>
                <option value="Bellevue">Bellevue</option>
                <option value="LA">LA</option>
                <option value="Boise">Boise</option>
                <option value="Chicago">Chicago</option>
            </select>
        </div>
        <div class="language_box">
            <label for="language">Favorite Language:</label>
            <select name="language">
                <option value="Python" selected>Python</option>
                <option value="Javascript">JavaScript</option>
                <option value="Java">Java</option>
                <option value="C#">C#</option>
            </select>
        </div>
        <div class="comment_box">
            <label for="comment">Comment(optional):</label>
            <div class="text_box">
                <textarea name="comment" rows="5" cols="30"></textarea>
            </div>
        </div>
        <input class='submit_btn' type='submit' value='Submit'>
        </form>
    </div>
</body>
</html>