<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Checkerboard</title>
    <style>
        .box1{
            background-color: red;
            height: 30px;
            width: 30px;
            border: none;
        }
        .box2{
            background-color: black;
            height: 30px;
            width: 30px;
            border: none;
        }
    </style>
</head>
<body>
    <table>
        {%for space in range(input1):%}
            <tr>
                {for row in range(input2):%}
                    <td>{{ (space + row)%2+1}}</td>
            </tr>
    </table>
</body>
</html>